<div class="clearfix span-30 center fnone subpend-8">
  <div class="fleft span-30 last">
    <div id="equalize-boxes" class="clearfix span-30 suppush-2">
      <div class="equalized bg-light-2 span-18 border-grey pad-1 prepush-4 dark-blue clearfix" id="my_account">
        <img src="https://www.boscovs.com/store/content/images/login_logo.jpg" title="Boscovs Account Log In" alt="Boscovs Account Log In" class="fleft postpush-2">
        <div class="m-large fleft suppush-2 span-14 bold">Sign into your Boscovs.com shopping account!</div>
        <div class="span-14 large fright">

          <form [formGroup]="loginFormGroup" id="signIn" class="suppush-2" action="SiteLogon.bos" method="POST" autocomplete="off">

            <div class="clearfix">
              <label id="lblEmail" class="black fleft prepush-5" for="userName"><span class="red">*</span>Username:</label>
              <input formControlName="username" tabindex="1" name="userName" id="userName" class="span-8 fright postpush-8" type="text" maxlength="255" value="" onchange="this.value=this.value.toUpperCase();">
            </div>
            <div class="clearfix suppush-2">
              <label id="lblPassword" class="black fleft" for="password"><span class="red">*</span>Password:</label>
              <input formControlName="password" tabindex="2" name="password" id="password" class="span-8 fright postpush-8" type="password" maxlength="255" value="" onchange="this.value=this.value.toUpperCase();">
            </div>
            <div class="clearfix span-14 suppush-2">
              <div class="clearfix black fleft prepush-1"><span class="red">*</span>Required</div>
              <div class="fleft black underline prepush-10">
                <a href="ForgottenPassword.bos" class="fleft no-underline hover-underline link-dark">Forgot your password?</a>
              </div>
              <input  (click)="onSubmit()" type="image" id="submit" tabindex="3" alt="Log In" src="https://www.boscovs.com/store/content/images/log_in.jpg" class="fright prepush-6 login-button">
              <br>
            </div>

            <input name="adsFirstLastName" id="adsFirstLastName" type="hidden" value=" ">

            <input name="adsCheckPreApprovedCreditCard" id="adsCheckPreApprovedCreditCard" type="hidden" value="">
            <input name="adsCreditResponse" id="adsCreditResponse" type="hidden" value="">



            <!-- Used by AJAX calls -->




          </form>
        </div>
        <div class="clearfix black large fright suppush-6 span-17">
          <div class="suppush-3 fleft">Want to create a Boscovs.com shopping account?</div>
          <a routerLink="/register" class="no-underline hover-underline"><img src="https://www.boscovs.com/store/content/images/createAccount.jpg" title="Create Account" alt="Create Account" class="fright prepush-1 suppush-2"></a>
        </div>
      </div>

      <div class="equalized bg-tan dark-blue span-10 last border-grey pad-1 clearfix">
        <div class="x-large subpush-4 suppush-3 bold block">Were you looking for your<br><span class="prepush-3">Boscov's Credit Account?</span></div>
        <div class="clearfix" id="cc_info">
          <img src="https://www.boscovs.com/store/content/images/cc_login.jpg" class="fleft prepend-10" alt="Boscovs Credit Account" title="Boscovs Credit Account">
          <ul class="no-margin fright">
            <li>Pay bills online</li>
            <li>View balance &amp; amount due</li>
            <li>Download, print, or view <br>your statement</li>
            <li>View reward points</li>
            <li>View recent transactions</li>
          </ul>
        </div>
        <a href="/shop/CreditCardHome.bos" class="no-underline hover-underline"><img src="https://www.boscovs.com/store/content/images/cc_sign_in_btn.jpg" title="Sign in to your credit account" alt="Sign in to your credit account" class="center block"></a>
      </div>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
  </div>



  <div class="span-28b border-grey pad-2 clearfix suppush-2 prepush-4 medium-dark">
    <img src="https://www.boscovs.com/store/content/images/registryLogo.jpg" alt="The Registry at Boscov's" title="The Registry at Boscov's" class="fleft">
    <div class="clearfix fleft prepush-10 prepend-4 m-large black bold block">Already have a Registry with us?</div><br><br>
    <span class="prepend-4 prepush-10">Log in here to view your registry and add or delete items from your list</span>
    <div class="fright clearfix suppush-6">
      <a href="https://www.myregistry.com/Boscovs-Registry" title="Log In to The Registry at Boscov's">
        <img src="https://www.boscovs.com/store/content/images/registry-login.jpg" alt="Log In to The Registry at Boscov's" title="Log In to The Registry at Boscov's" border="none">
      </a>
    </div>
  </div>



</div>
