<div class="span-30 center fnone clearfix bg-white suppend-2">
  <div class="subpend-2 clearfix">
    <!--Top Left Image Begin-->
    <a title="Top Left Image Link" href="https://www.boscovs.com/ast/shoes?prnt=Shoes"> <img
      src="./home_files/may25homepage_1.jpg" alt="Top Left Image" class="fleft">
    </a>
    <!--Top Left Image End-->
    <!--Top Right Image Begin-->
    <a title="Top Right Image Link"
       href="https://www.boscovs.com/ast/dresses-and-suits-1?prnt=Ladies&amp;chld=Dresses%20%26%20Suits"> <img
      src="./home_files/may25homepage_2.jpg" alt="Top Right Image" class="fright">
    </a>
    <!--Top Right Image End-->
  </div>
  <!--Middle Main Image Begin-->
  <div class="subpend-2 mw-hide">
    <a title="Middle Main Image Link"
       href="https://www.boscovs.com/ast/clearance-1?prnt=WebDEALS&amp;chld=50%25%20Off%20SALE"> <img
      src="./home_files/may25homepage_3.jpg" alt="Middle Image">
    </a>
  </div>
  <!--Middle Main Image End-->
  <!--Bottom Banner Triple Images Begin -->
  <div class="subpend-2 clearfix">
    <!--Common Espots Begin -->
    <div class="span-9c ">
      <a title="Bottom Left Image Link"
         href="https://www.boscovs.com/ast/bali-lilyette-lily-of-france-maidenform-olga-playtex-vanity-fair-warners-bras-bras-panties-and-lingerie?facetclick=1&amp;prnt=Ladies&amp;chld=Bras">
        <img src="./home_files/may25homepage_4.jpg" alt="Bottom Left Image">
      </a>
    </div>
    <div class="span-9c ">
      <a title="Bottom Middle Image Link"
         href="https://www.boscovs.com/ast/misses-petites-womens-plus-hoodies-and-sweatshirts-jeans-leggings-pants-shorts-sweaters-and-cardigans-tops-clothing-000-499-500-999-1000-1999?format=producttype&amp;facetclick=1&amp;prnt=Ladies&amp;chld=Misses">
        <img src="./home_files/may25homepage_5.jpg" alt="Bottom Middle Image">
      </a>
    </div>
    <div class="span-9c last">
      <a title="Bottom Right Image Link"
         href="https://www.boscovs.com/ast/croscill?prnt=Bed%20%26%20Bath&amp;chld=Croscill"> <img
        src="./home_files/may25homepage_6.jpg" alt="Bottom Right Image">
      </a>
    </div>
    <!--Common Espots End -->
  </div>
  <div id="monetate_selectorBanner_20d3e0b2_00"><img alt="" src="./home_files/1549120.jpg"
                                                     usemap="#monetate_selectorBanner_20d3e0b2_00Map"
                                                     style="border: none; outline: none;">
    <map id="monetate_selectorBanner_20d3e0b2_00Map" name="monetate_selectorBanner_20d3e0b2_00Map">
      <area shape="rect" coords="0,0,1018,299" alt="Estee Lauder Summer Getaway Gift with purchase"
            title="Estee Lauder Summer Getaway Gift with purchase"
            href="https://www.boscovs.com/ast/estee-lauder?prnt=Beauty&amp;chld=Est%C3%A9e%20Lauder" target="_self"
            style="outline: none;">
    </map>
  </div>
  <div id="monetate_selectorBanner_fdf3a510_00"><img alt="" src="./home_files/1568170.jpg"
                                                     usemap="#monetate_selectorBanner_fdf3a510_00Map"
                                                     style="border: none; outline: none;">
    <map id="monetate_selectorBanner_fdf3a510_00Map" name="monetate_selectorBanner_fdf3a510_00Map">
      <area shape="rect" coords="-7.999999999999999,-6,1019,249"
            alt="Receive your choice of bag with any $65 cosmetic or fragrance purchase!"
            title="Receive your choice of bag with any $65 cosmetic or fragrance purchase!"
            href="https://www.boscovs.com/ast/beauty?prnt=Beauty" target="_self" style="outline: none;">
    </map>
  </div>
  <div id="monetate_selectorBanner_4fec227e_00"><img alt="" src="./home_files/1479971.jpg"
                                                     usemap="#monetate_selectorBanner_4fec227e_00Map"
                                                     style="border: none; outline: none;">
    <map id="monetate_selectorBanner_4fec227e_00Map" name="monetate_selectorBanner_4fec227e_00Map">
      <area shape="rect" coords="-1.9999999999999998,-6,1019,299" alt="50% off Bras" title="50% off Bras"
            href="https://www.boscovs.com/ast/bali-lilyette-lily-of-france-maidenform-olga-playtex-vanity-fair-warners-bras-bras-panties-and-lingerie?facetclick=1&amp;prnt=Ladies&amp;chld=Bras"
            target="_self" style="outline: none;">
    </map>
  </div>
  <div id="monetate_selectorBanner_479951e4_00"><img alt="" src="./home_files/1556451.jpg"
                                                     usemap="#monetate_selectorBanner_479951e4_00Map"
                                                     style="border: none; outline: none;">
    <map id="monetate_selectorBanner_479951e4_00Map" name="monetate_selectorBanner_479951e4_00Map">
      <area shape="rect" coords="-3.9999999999999996,-4,1019,299" alt="Crocs week at Boscovs"
            title="Crocs week at Boscovs" href="https://www.boscovs.com/ast/crocs?prnt=Shoes&amp;chld=Crocs"
            target="_self" style="outline: none;">
    </map>
  </div>
  <!--Bottom Banner Triple Images End -->
  <div id="monetate">
    <!--Monetate goes here -->
  </div>
</div>
