<!--<div id="footer">-->

  <!--<div class="span-30 center fnone clearfix suppend-2 subpend-2 bg-white">-->
    <!--<footer>-->
      <!--<div class="border-top border-light suppend-3 subpend-3 text-center black large">Shop by Phone - Call-->
        <!--1-800-284-8155. Mon - Sat 9:00 AM - 10:00 PM, Sun 11:00 AM - 8:00 PM ET-->
      <!--</div>-->
      <!--<div class="border-top border-dark-blue suppend-3 subpend-3 clearfix" id="footer_links">-->


        <!--<div class="span-6 fleft prepush-4">-->
          <!--<div class="bold large subpush-1">Shop</div>-->


          <!--<a href="https://www.boscovs.com/ast/gift-cards" title="Gift Cards">Gift Cards</a><br>-->


          <!--<a href="https://www.boscovs.com/ast/hot-buys-shop-1" title="Hot Buys">Hot Buys</a><br>-->


          <!--<a href="https://www.boscovs.com/ast/webbusters-1" title="WebBusters">WebBusters</a><br>-->


          <!--<a href="https://www.myregistry.com/Boscovs-Registry" title="Wedding &amp; Gift Registry">Wedding &amp; Gift-->
            <!--Registry</a><br>-->


          <!--<a href="https://locations.boscovs.com/index.html" title="Store Locator">Store Locator</a><br>-->


          <!--<a href="http://boscovs.shoplocal.com/boscovs/default.aspx?action=entryflash&amp;"-->
             <!--title="This Week&#39;s Ads">This Week's Ads</a><br>-->


          <!--<a href="https://www.boscovs.com/shop/StoreDirectory.bos" title="Site Directory">Site Directory</a><br>-->


          <!--<a href="https://www.boscovs.com/lpc/famous-brands" title="Brands">Brands</a><br>-->


        <!--</div>-->


        <!--<div class="span-6 fleft ">-->
          <!--<div class="bold large subpush-1">Customer Care</div>-->


          <!--<a href="https://www.boscovs.com/shop/MyAccount.bos" title="My Account">My Account</a><br>-->


          <!--<a href="https://www.boscovs.com/shop/NewRegistration.bos" title="Register To Save">Register To Save</a><br>-->


          <!--<a class="pdfLinkModalOpen"-->
             <!--href="https://www.boscovs.com/wcsstore/boscovs/images/store/product/docs/DeliveryChoicesAndCosts.pdf"-->
             <!--title="Shipping Information">Shipping Information</a><br>-->


          <!--<a class="pdfLinkModalOpen"-->
             <!--href="https://www.boscovs.com/wcsstore/boscovs/images/store/product/docs/ReturnPolicy.pdf"-->
             <!--title="Return Policy">Return Policy</a><br>-->


          <!--<a class="pdfLinkModalOpen" href="https://www.boscovs.com/wcsstore/boscovs/images/store/product/docs/FAQ.pdf"-->
             <!--title="FAQ">FAQ</a><br>-->


          <!--<a href="https://www.boscovs.com/shop/CustomerService.bos" title="Contact Us">Contact Us</a><br>-->


          <!--<a href="https://www.boscovs.com/wcsstore/boscovs/images/html/recall/recall.html" title="Recall Notices">Recall-->
            <!--Notices</a><br>-->


          <!--<a href="https://www.boscovs.com/shop/CreditCardHome.bos" title="Pay Bill Online">Pay Bill Online</a><br>-->


          <!--<a href="https://www.boscovs.com/shop/CreditCardHome.bos" title="Boscov&#39;s Credit Card">Boscov's Credit-->
            <!--Card</a><br><a id="cobrowse" href="javascript:;" glance_button="startSession">Start Cobrowse</a>-->


        <!--</div>-->


        <!--<div class="span-6 fleft ">-->
          <!--<div class="bold large subpush-1">Boscov's</div>-->


          <!--<a href="https://www.boscovs.com/static/about_boscov/about_boscov.html" title="About Boscov&#39;s">About-->
            <!--Boscov's</a><br>-->


          <!--<a href="https://www.boscovs.com/wcsstore/boscovs/images/html/community/community.html"-->
             <!--title="In the Community">In the Community</a><br>-->


          <!--<a href="https://www.boscovstravel.com/" title="Travel Center">Travel Center</a><br>-->


          <!--<a href="http://www.boscovsoptical.com/" title="Optical Center">Optical Center</a><br>-->


          <!--<a href="http://www.boscovalacartecatering.com/home.html" title="Catering">Catering</a><br>-->


          <!--<a href="https://aurepair.com/default.aspx" title="TV/Appliance Repair">TV/Appliance Repair</a><br>-->


          <!--<a href="http://vspec.boscovs.com/index.html" title="Vendors">Vendors</a><br>-->


        <!--</div>-->

        <!--<div class="span-5 fleft social-footer">-->
          <!--<div class="bold large subpush-1">Stay Connected</div>-->
          <!--<a href="http://www.facebook.com/boscovs" title="Like Boscov&#39;s on Facebook" target="_blank"><img-->
            <!--src="./home_files/facebook.png" alt="Like Boscov&#39;s on Facebook" width="32" height="32"></a>-->
          <!--<a href="http://www.twitter.com/boscovs" title="Follow Boscov&#39;s on Twitter" target="_blank"><img-->
            <!--src="./home_files/twitter.png" alt="Follow Boscov&#39;s on Twitter" width="32" height="32"></a>-->
          <!--<a href="http://www.pinterest.com/boscovs" title="Follow Boscov&#39;s on Pinterest" target="_blank"><img-->
            <!--src="./home_files/pinterest.png" alt="Follow Boscov&#39;s on Pinterest!" width="32" height="32"></a>-->
          <!--<a href="http://instagram.com/boscovs" title="Follow Boscov&#39;s on Instagram" target="_blank"><img-->
            <!--src="./home_files/instagram.png" alt="Follow Boscov&#39;s on Instagram" width="32" height="32"></a>-->

          <!--&lt;!&ndash;BBB Logo&ndash;&gt;-->
          <!--<a title="Boscov&#39;s Department Store, LLC BBB Business Review" target="_blank"-->
             <!--href="https://www.bbb.org/washington-dc-eastern-pa/business-reviews/department-stores/boscov-s-department-store-llc-in-reading-pa-50002124/#bbbonlineclick">-->
            <!--<img alt="Boscov&#39;s Department Store, LLC BBB Business Review" class="suppend-2"-->
                 <!--src="./home_files/bbb-seal.jpg" width="132" height="53">-->
          <!--</a>-->
          <!--&lt;!&ndash;END BBB Logo&ndash;&gt;-->
          <!--<a-->
            <!--href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&amp;dn=www.boscovs.com&amp;lang=en&amp;sealid=1"-->
            <!--target="_blank" title="VeriSign Secured">-->
            <!--<img src="./home_files/norton_logo_2.gif" class="suppush-2" alt="VeriSign Secured" title="VeriSign Secured">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="span-5a last fleft social-footer">-->
          <!--<div class="bold large subpush-1"></div>-->
          <!--<div class="text-center suppend-2 sm-large bold"><a href="https://www.boscovs.com/shop/CreditCardHome.bos">Apply-->
            <!--for a <br>Boscov's Credit Card<br><br><img src="./home_files/card-small.jpg" alt=""></a></div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="border-top border-dark-blue suppend-3 subpend-2 grey text-center">-->
        <!--By using this Site you agree to our-->
        <!--<a href="https://www.boscovs.com/wcsstore/boscovs/images/store/product/docs/TermsAndConditions.pdf"-->
           <!--class="no-underline hover-underline pdfLinkModalOpen">Terms and Conditions</a>,-->
        <!--<a href="https://www.boscovs.com/wcsstore/boscovs/images/store/product/docs/PrivacyPolicy.pdf"-->
           <!--class="no-underline hover-underline pdfLinkModalOpen">Privacy Policy</a>,-->
        <!--<a href="https://www.boscovs.com/wcsstore/boscovs/images/store/product/docs/CA_Human_Trafficking_Statement.pdf"-->
           <!--class="no-underline hover-underline pdfLinkModalOpen">Supply Chain Transparency disclosure</a>,-->
        <!--<a href="https://www.boscovs.com/wcsstore/boscovs/images/store/product/docs/Pricing_Disclosure.pdf"-->
           <!--class="no-underline hover-underline pdfLinkModalOpen">Pricing Disclosure</a>, and-->
        <!--<a href="https://www.boscovs.com/wcsstore/boscovs/images/store/product/docs/ReturnPolicy.pdf"-->
           <!--class="no-underline hover-underline pdfLinkModalOpen">Return / Cancellation Policy</a>.-->
        <!--<br>-->

        <!--© Copyright 2000-2018, Boscov's Department Store, LLC.-->
      <!--</div>-->
    <!--</footer>-->
  <!--</div>-->
  <!--<div class="modal fade" id="pdfLinkModal" tabindex="-1" role="dialog" aria-labelledby="PDF Link Modal"-->
       <!--data-scrollbarwidth="0">-->
    <!--<div class="vertical-alignment-helper">-->
      <!--<div class="modal-dialog vertical-align-center" role="document">-->
        <!--<div class="modal-content general-modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
              <!--aria-hidden="true">×</span></button>-->
            <!--<h4></h4>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--<iframe id="pdfIframe" src="./home_files/saved_resource(1).html" style="width:100%; height:400px;"></iframe>-->
          <!--</div>-->
          <!--<div class="modal-footer">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
